
.vs/UtilitySolutionStd/DesignTimeBuild/.dtbcache
.vs/UtilitySolutionStd/v15/.suo
.vs/UtilitySolutionStd/v15/Server/sqlite3/db.lock
.vs/UtilitySolutionStd/v15/Server/sqlite3/storage.ide
.vs/UtilitySolutionStd/v15/Server/sqlite3/storage.ide-shm
.vs/UtilitySolutionStd/v15/Server/sqlite3/storage.ide-wal
.vs/UtilitySolutionStd/v15/Server/sqlite3/storage.ide-shm
.vs/UtilitySolutionStd/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
.vs/UtilitySolutionStd/v15/Server/sqlite3/storage.ide-shm
.vs/UtilitySolutionStd/v15/Server/sqlite3/storage.ide-shm
src/FileServer/bin/Debug/netcoreapp2.1/FileServer.dll
src/FileServer/bin/Debug/netcoreapp2.1/FileServer.pdb
src/FileServer/bin/Debug/netcoreapp2.1/Utility.dll
src/FileServer/bin/Debug/netcoreapp2.1/Utility.Logs.dll
src/FileServer/bin/Debug/netcoreapp2.1/Utility.Logs.pdb
src/FileServer/bin/Debug/netcoreapp2.1/Utility.pdb
src/FileServer/obj/Debug/netcoreapp2.1/FileServer.csproj.FileListAbsolute.txt
src/FileServer/obj/Debug/netcoreapp2.1/FileServer.csprojAssemblyReference.cache
src/FileServer/obj/Debug/netcoreapp2.1/FileServer.dll
src/FileServer/obj/Debug/netcoreapp2.1/FileServer.pdb
src/Utility.AutoMapper/bin/Debug/netstandard2.0/Utility.AutoMapper.dll
src/Utility.AutoMapper/bin/Debug/netstandard2.0/Utility.AutoMapper.pdb
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.csproj.FileListAbsolute.txt
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.dll
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.pdb
src/Utility.Data/bin/Debug/netstandard2.0/Utility.dll
src/Utility.Data/bin/Debug/netstandard2.0/Utility.EntityFramework.dll
src/Utility.Data/bin/Debug/netstandard2.0/Utility.EntityFramework.pdb
src/Utility.Data/bin/Debug/netstandard2.0/Utility.pdb
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.csproj.FileListAbsolute.txt
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.csprojAssemblyReference.cache
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.dll
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.pdb
src/Utility.Email/bin/Debug/netstandard2.0/Utility.dll
src/Utility.Email/bin/Debug/netstandard2.0/Utility.Email.dll
src/Utility.Email/bin/Debug/netstandard2.0/Utility.Email.pdb
src/Utility.Email/bin/Debug/netstandard2.0/Utility.pdb
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.csproj.FileListAbsolute.txt
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.csprojAssemblyReference.cache
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.dll
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.pdb
src/Utility.EntityFramework.AspNetCore/bin/Debug/netstandard2.0/Utility.dll
src/Utility.EntityFramework.AspNetCore/bin/Debug/netstandard2.0/Utility.EntityFramework.AspNetCore.dll
src/Utility.EntityFramework.AspNetCore/bin/Debug/netstandard2.0/Utility.EntityFramework.AspNetCore.pdb
src/Utility.EntityFramework.AspNetCore/bin/Debug/netstandard2.0/Utility.EntityFramework.dll
src/Utility.EntityFramework.AspNetCore/bin/Debug/netstandard2.0/Utility.EntityFramework.pdb
src/Utility.EntityFramework.AspNetCore/bin/Debug/netstandard2.0/Utility.pdb
src/Utility.EntityFramework.AspNetCore/obj/Debug/netstandard2.0/Utility.EntityFramework.AspNetCore.csproj.FileListAbsolute.txt
src/Utility.EntityFramework.AspNetCore/obj/Debug/netstandard2.0/Utility.EntityFramework.AspNetCore.csprojAssemblyReference.cache
src/Utility.EntityFramework.AspNetCore/obj/Debug/netstandard2.0/Utility.EntityFramework.AspNetCore.dll
src/Utility.EntityFramework.AspNetCore/obj/Debug/netstandard2.0/Utility.EntityFramework.AspNetCore.pdb
src/Utility.Excel/bin/Debug/netstandard2.0/Utility.Excel.dll
src/Utility.Excel/bin/Debug/netstandard2.0/Utility.Excel.pdb
src/Utility.Excel/obj/Debug/netstandard2.0/Utility.Excel.csproj.FileListAbsolute.txt
src/Utility.Excel/obj/Debug/netstandard2.0/Utility.Excel.dll
src/Utility.Excel/obj/Debug/netstandard2.0/Utility.Excel.pdb
src/Utility.Log.NLog/bin/Debug/netstandard2.0/Utility.dll
src/Utility.Log.NLog/bin/Debug/netstandard2.0/Utility.Logs.dll
src/Utility.Log.NLog/bin/Debug/netstandard2.0/Utility.Logs.pdb
src/Utility.Log.NLog/bin/Debug/netstandard2.0/Utility.pdb
src/Utility.Log.NLog/obj/Debug/netstandard2.0/Utility.Log.NLog.csproj.FileListAbsolute.txt
src/Utility.Log.NLog/obj/Debug/netstandard2.0/Utility.Log.NLog.csprojAssemblyReference.cache
src/Utility.Log.NLog/obj/Debug/netstandard2.0/Utility.Logs.dll
src/Utility.Log.NLog/obj/Debug/netstandard2.0/Utility.Logs.pdb
src/Utility.RabbitMQ/bin/Debug/netstandard2.0/Utility.RabbitMQ.dll
src/Utility.RabbitMQ/bin/Debug/netstandard2.0/Utility.RabbitMQ.pdb
src/Utility.RabbitMQ/obj/Debug/netstandard2.0/Utility.RabbitMQ.csproj.FileListAbsolute.txt
src/Utility.RabbitMQ/obj/Debug/netstandard2.0/Utility.RabbitMQ.dll
src/Utility.RabbitMQ/obj/Debug/netstandard2.0/Utility.RabbitMQ.pdb
src/Utility/bin/Debug/netstandard2.0/Utility.dll
src/Utility/bin/Debug/netstandard2.0/Utility.pdb
src/Utility/obj/Debug/netstandard2.0/Utility.csproj.FileListAbsolute.txt
src/Utility/obj/Debug/netstandard2.0/Utility.dll
src/Utility/obj/Debug/netstandard2.0/Utility.pdb
.vs/UtilitySolutionStd/v15/Server/sqlite3/storage.ide-shm
src/FileServer/obj/FileServer.csproj.nuget.cache
src/FileServer/obj/FileServer.csproj.nuget.g.props
src/FileServer/obj/FileServer.csproj.nuget.g.targets
src/FileServer/obj/project.assets.json
src/Utility.AutoMapper/bin/Debug/netstandard2.0/Utility.AutoMapper.deps.json
src/Utility.AutoMapper/bin/Debug/netstandard2.0/Utility.AutoMapper.dll
src/Utility.AutoMapper/bin/Debug/netstandard2.0/Utility.AutoMapper.pdb
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.AssemblyInfo.cs
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.AssemblyInfoInputs.cache
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.assets.cache
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.csproj.CoreCompileInputs.cache
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.csproj.FileListAbsolute.txt
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.csprojAssemblyReference.cache
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.dll
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.pdb
src/Utility.AutoMapper/Utility.AutoMapper.csproj.user
src/Utility.Data/bin/Debug/netstandard2.0/Utility.dll
src/Utility.Data/bin/Debug/netstandard2.0/Utility.EntityFramework.dll
src/Utility.Data/bin/Debug/netstandard2.0/Utility.EntityFramework.pdb
src/Utility.Data/bin/Debug/netstandard2.0/Utility.pdb
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.csproj.CoreCompileInputs.cache
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.csproj.FileListAbsolute.txt
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.csprojAssemblyReference.cache
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.dll
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.pdb
src/Utility.Data/Utility.EntityFramework.csproj.user
src/Utility.Email/bin/Debug/netstandard2.0/Utility.dll
src/Utility.Email/bin/Debug/netstandard2.0/Utility.Email.deps.json
src/Utility.Email/bin/Debug/netstandard2.0/Utility.Email.dll
src/Utility.Email/bin/Debug/netstandard2.0/Utility.Email.pdb
src/Utility.Email/bin/Debug/netstandard2.0/Utility.pdb
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.AssemblyInfo.cs
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.AssemblyInfoInputs.cache
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.assets.cache
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.csproj.CopyComplete
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.csproj.CoreCompileInputs.cache
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.csproj.FileListAbsolute.txt
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.csprojAssemblyReference.cache
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.dll
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.pdb
src/Utility.Email/Utility.Email.csproj.user
src/Utility/bin/Debug/netstandard2.0/Utility.dll
src/Utility/bin/Debug/netstandard2.0/Utility.pdb
src/Utility/obj/Debug/netstandard2.0/Utility.csproj.FileListAbsolute.txt
src/Utility/obj/Debug/netstandard2.0/Utility.csprojAssemblyReference.cache
src/Utility/obj/Debug/netstandard2.0/Utility.dll
src/Utility/obj/Debug/netstandard2.0/Utility.pdb
src/Utility/Utility.csproj.user
src/Utility.AutoMapper/bin/Debug/netstandard2.0/Utility.AutoMapper.deps.json
src/Utility.AutoMapper/bin/Debug/netstandard2.0/Utility.AutoMapper.dll
src/Utility.AutoMapper/bin/Debug/netstandard2.0/Utility.AutoMapper.pdb
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.AssemblyInfo.cs
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.AssemblyInfoInputs.cache
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.assets.cache
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.csproj.CoreCompileInputs.cache
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.csproj.FileListAbsolute.txt
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.csprojAssemblyReference.cache
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.dll
src/Utility.AutoMapper/obj/Debug/netstandard2.0/Utility.AutoMapper.pdb
src/Utility.Data/bin/Debug/netstandard2.0/Utility.dll
src/Utility.Data/bin/Debug/netstandard2.0/Utility.EntityFramework.dll
src/Utility.Data/bin/Debug/netstandard2.0/Utility.EntityFramework.pdb
src/Utility.Data/bin/Debug/netstandard2.0/Utility.pdb
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.csproj.CoreCompileInputs.cache
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.csproj.FileListAbsolute.txt
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.csprojAssemblyReference.cache
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.dll
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.pdb
src/Utility.Email/bin/Debug/netstandard2.0/Utility.dll
src/Utility.Email/bin/Debug/netstandard2.0/Utility.Email.deps.json
src/Utility.Email/bin/Debug/netstandard2.0/Utility.Email.dll
src/Utility.Email/bin/Debug/netstandard2.0/Utility.Email.pdb
src/Utility.Email/bin/Debug/netstandard2.0/Utility.pdb
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.AssemblyInfo.cs
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.AssemblyInfoInputs.cache
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.assets.cache
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.csproj.CopyComplete
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.csproj.CoreCompileInputs.cache
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.csproj.FileListAbsolute.txt
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.csprojAssemblyReference.cache
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.dll
src/Utility.Email/obj/Debug/netstandard2.0/Utility.Email.pdb
src/Utility/bin/Debug/netstandard2.0/Utility.dll
src/Utility/bin/Debug/netstandard2.0/Utility.pdb
src/Utility/obj/Debug/netstandard2.0/Utility.csproj.FileListAbsolute.txt
src/Utility/obj/Debug/netstandard2.0/Utility.csprojAssemblyReference.cache
src/Utility/obj/Debug/netstandard2.0/Utility.dll
src/Utility/obj/Debug/netstandard2.0/Utility.pdb
src/FileServer/obj/Debug/netcoreapp2.1/FileServer.AssemblyInfo.cs
src/FileServer/obj/Debug/netcoreapp2.1/FileServer.AssemblyInfoInputs.cache
src/FileServer/obj/Debug/netcoreapp2.1/FileServer.assets.cache
src/FileServer/obj/Debug/netcoreapp2.1/FileServer.csproj.CoreCompileInputs.cache
src/FileServer/obj/Debug/netcoreapp2.1/FileServer.RazorAssemblyInfo.cache
src/FileServer/obj/Debug/netcoreapp2.1/FileServer.RazorAssemblyInfo.cs
src/FileServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/FileServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/FileServer/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
src/Utility/obj/Debug/netstandard2.0/Utility.csproj.CoreCompileInputs.cache
src/FileServer/bin/Debug/netcoreapp2.1/logs/Log 2019-03-28.txt
src/Utility.Log.NLog/bin/Debug/netstandard2.0/Utility.dll
src/Utility.Log.NLog/bin/Debug/netstandard2.0/Utility.Logs.dll
src/Utility.Log.NLog/bin/Debug/netstandard2.0/Utility.Logs.pdb
src/Utility.Log.NLog/bin/Debug/netstandard2.0/Utility.pdb
src/Utility.Log.NLog/obj/Debug/netstandard2.0/Utility.Log.NLog.csprojAssemblyReference.cache
src/Utility.Log.NLog/obj/Debug/netstandard2.0/Utility.Logs.dll
src/Utility.Log.NLog/obj/Debug/netstandard2.0/Utility.Logs.pdb
src/Utility/bin/Debug/netstandard2.0/Utility.dll
src/Utility/bin/Debug/netstandard2.0/Utility.pdb
src/Utility/obj/Debug/netstandard2.0/Utility.dll
src/Utility/obj/Debug/netstandard2.0/Utility.pdb
src/Utility/obj/Debug/netstandard2.0/Utility.assets.cache
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.assets.cache
src/Utility.EntityFramework.AspNetCore/obj/Debug/netstandard2.0/Utility.EntityFramework.AspNetCore.assets.cache
src/Utility/obj/Debug/netstandard2.0/Utility.assets.cache
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.assets.cache
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.csproj.CoreCompileInputs.cache
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.csprojAssemblyReference.cache
src/Utility.EntityFramework.AspNetCore/obj/Debug/netstandard2.0/Utility.EntityFramework.AspNetCore.csproj.CoreCompileInputs.cache
src/Utility.EntityFramework.AspNetCore/obj/Debug/netstandard2.0/Utility.EntityFramework.AspNetCore.csprojAssemblyReference.cache
src/Utility.Excel/obj/Debug/netstandard2.0/Utility.Excel.assets.cache
src/Utility.Log.NLog/obj/Debug/netstandard2.0/Utility.Log.NLog.assets.cache
src/Utility.Log.NLog/obj/Debug/netstandard2.0/Utility.Log.NLog.csproj.CoreCompileInputs.cache
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.csproj.CoreCompileInputs.cache
src/FileServer/obj/Debug/netcoreapp2.1/project.razor.json
src/Utility/obj/Debug/netstandard2.0/Utility.assets.cache
src/Utility/obj/Debug/netstandard2.0/project.razor.json
src/Utility.AutoMapper/obj/Debug/netstandard2.0/project.razor.json
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.assets.cache
src/Utility.Data/obj/Debug/netstandard2.0/Utility.EntityFramework.csprojAssemblyReference.cache
src/Utility.Data/obj/Debug/netstandard2.0/project.razor.json
src/Utility.Email/obj/Debug/netstandard2.0/project.razor.json
src/Utility.EntityFramework.AspNetCore/obj/Debug/netstandard2.0/Utility.EntityFramework.AspNetCore.assets.cache
src/Utility.EntityFramework.AspNetCore/obj/Debug/netstandard2.0/Utility.EntityFramework.AspNetCore.csproj.CoreCompileInputs.cache
src/Utility.EntityFramework.AspNetCore/obj/Debug/netstandard2.0/Utility.EntityFramework.AspNetCore.csprojAssemblyReference.cache
src/Utility.EntityFramework.AspNetCore/obj/Debug/netstandard2.0/project.razor.json
src/Utility.Excel/obj/Debug/netstandard2.0/Utility.Excel.assets.cache
src/Utility.Excel/obj/Debug/netstandard2.0/project.razor.json
src/Utility.Log.NLog/obj/Debug/netstandard2.0/Utility.Log.NLog.assets.cache
src/Utility.Log.NLog/obj/Debug/netstandard2.0/Utility.Log.NLog.csproj.CoreCompileInputs.cache
src/Utility.Log.NLog/obj/Debug/netstandard2.0/project.razor.json
src/Utility.RabbitMQ/obj/Debug/netstandard2.0/Utility.RabbitMQ.assets.cache
src/Utility.RabbitMQ/obj/Debug/netstandard2.0/project.razor.json
/.vs/UtilitySolutionStd/v16/Server/sqlite3/db.lock
/.vs/UtilitySolutionStd/v16/Server/sqlite3/storage.ide
/.vs/UtilitySolutionStd/v16/Server/sqlite3/storage.ide-wal
/.vs/UtilitySolutionStd/config/applicationhost.config
/.vs/UtilitySolutionStd/v16/.suo
/ConsoleApp1/bin/Debug/netcoreapp2.2
/ConsoleApp1/obj
