.vs/
*.ide-shm
src/Utility/bin/
src/Utility/obj/
src/FileServer/bin/
src/FileServer/obj/
src/Utility.Data/bin/
src/Utility.Data/obj/
src/Utility.Excel/bin/
src/Utility.Excel/obj/
src/Utility.Email/bin/
src/Utility.Email/obj/
src/Utility.RabbitMQ/bin/
src/Utility.RabbitMQ/obj/
Authorities/Utility.Authority/bin/
Authorities/Utility.Authority/obj/
src/Utility.Log.NLog/bin/
src/Utility.Log.NLog/obj/
src/Utility.Log.NLog/obj/
src/Utility.RabbitMQ/obj/
src/Utility.AspNetCore/bin/
src/Utility.AspNetCore/obj/
src/Utility.AutoMapper/bin/
src/Utility.AutoMapper/obj/
src/Utility.EntityFramework/bin/
src/Utility.EntityFramework/obj/
Authorities/Utility.Authority.Infrastructure/bin/
Authorities/Utility.Authority.Infrastructure/obj/
src/Utility.EntityFramework.AspNetCore/bin/
src/Utility.EntityFramework.AspNetCore/obj/
/ConsoleApp1/bin/
/ConsoleApp1/obj/
