<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="logs/nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout= "$[${date:format=yyyy-MM-dd HH\:mm\:ss}] | ${message}"/>
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/${date:format=yyyy-MM-dd HH}.log"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] | ${message}"
            keepFileOpen="false" encoding="utf-8" />
    <!--<target type="Database" name="database"
             dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
            connectionstring="Data Source=localhost;Database=nlogtest;user id=root;password=root;SslMode=none">
      <commandText>
        insert into Log1 (CreateDate, Account, Origin, LogLevel, Message, StackTrace) values (@createDate, @account, @origin, @logLevel, @message, @stackTrace);
      </commandText>
      <parameter name="@createDate" layout="${longdate}"/>
      -->
    <!--日志发生时间-->
    <!--
      <parameter name="@account" layout="${event-context:item=account}"/>
      <parameter name="@origin" layout="${callsite}"/>
      -->
    <!--日志来源-->
    <!--
      <parameter name="@logLevel" layout="${level}"/>
      -->
    <!--日志等级-->
    <!--
      <parameter name="@message" layout="${message}"/>
      -->
    <!--日志信息-->
    <!--
      <parameter name="@stackTrace" layout="${stacktrace}"/>
      -->
    <!--堆栈信息-->
    <!--
    </target>-->
  </targets>
  <rules>
    <logger name="*" writeTo="console"/>　
    <logger name="*" writeTo="file"/>
  </rules>
</nlog>
